<h1>fill out the form to contact me</h1>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter name">
    <textarea name="message" placeholder="message...."></textarea>
    <button type="submit" name="action" value="submit">Submit</button>
    <button type="submit" name="action" value="clear">Clear</button>
</form>

{% if error %}
<p>{{error}}</p>

{% elif name and message %} 
<p>Thank you , {{name}}! <br> your message to us is {{message}}</p>

{% endif %}