
{% if messages %}
<ul>
{% for message in messages %}

{{message}}
{%endfor%}
</ul>
{%endif%}
<h2>Feedback Manager</h2>

<form method="POST">
  {% csrf_token %}
  <input type="text" name="name" placeholder="Enter name"><br><br>
  <textarea name="message" placeholder="Your feedback..." rows="4"></textarea><br><br>
  <button type="submit" name="action" value="submit">Submit</button>
  <button type="submit" name="action" value="clear">Clear All</button>
</form>

{% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}


<hr>
<h3>All Feedbacks:</h3>

   {% if feedbacks %}
   <ul>
    {% for feedback in feedbacks %}

   <li>
    <strong>{{ feedback.name }}</strong>: {{ feedback.message }}
        <br><small>{{ feedback.created_at }}</small>
   </li>
   {% endfor %}
</ul>
<!-- Pagination Controls -->
  <div>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
{% else %}
<p>No feedbacks !!</p>
{% endif %}