
<h2>Practice form</h2>
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name= "name" placeholder = "Enter Full Name">
    <input type="email" name="email" placeholder="Enter Email">
    <Textarea name="message" placeholder="Enter message"></Textarea>
    <button type="submit">Send</button>
</form>

<form method="GET" style="margin-bottom: 10px;">
    <input type="text" name="search" placeholder="Search..." value="{{ query }}">
    
    <select name="sort">
        <option value="newest" {% if sort_by == 'newest' %}selected{% endif %}>Newest</option>
        <option value="oldest" {% if sort_by == 'oldest' %}selected{% endif %}>Oldest</option>
        <option value="name_asc" {% if sort_by == 'name_asc' %}selected{% endif %}>Name A-Z</option>
        <option value="name_desc" {% if sort_by == 'name_desc' %}selected{% endif %}>Name Z-A</option>
    </select>

    <button type="submit">Search / Sort</button>
</form>

    <hr>
    <h3>All Forms are</h3>
    {% if page_obj %}
    <ul>
        {% for practice in page_obj %}
        <li><strong>{{practice.name}}</strong>{{practice.email}} - {{practice.message}}</li>
        <small>{{practice.created_at}}</small>
        {% endfor %}
    </ul>
    <!-- Pagination Controls -->
  <div>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>

    {% else %}
    <p>No Feedback</p>

    {%endif%}
<h3>search list </h3>
<a href="{% url 'practice_list'%}">search list from here
</a>