
<h2>Practice form</h2>
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name= "name" placeholder = "Enter Full Name">
    <input type="email" name="email" placeholder="Enter Email">
    <Textarea name="message" placeholder="Enter message"></Textarea>
    <button type="submit">Send</button>
</form>

<form action="" method="get">

    <input type="text" name="search" id="" placeholder="Search " value={{query}}>
    <button type="submit">Search</button>
</form>
    <hr>
    <h3>All Forms are</h3>
    {% if page_obj %}
 <ul>
    {% for practice in page_obj %}
        <li>
            <strong>
                {% if query %}
                    {{ practice.name|replace:query:"<mark>"|add:query|add:"</mark>"|safe }}
                {% else %}
                    {{ practice.name }}
                {% endif %}
            </strong> - 
            
            {% if query %}
                {{ practice.email|replace:query:"<mark>"|add:query|add:"</mark>"|safe }}
            {% else %}
                {{ practice.email }}
            {% endif %}
            <br>
            {{ practice.message }}<br>
            <small>{{ practice.created_at }}</small>
        </li>
    {% endfor %}
</ul>

    <!-- Pagination Controls -->
  <div>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>

    {% else %}
    <p>No Feedback</p>

    {%endif%}
<h3>search list </h3>
<a href="{% url 'practice_list'%}">search list from here
</a>